
html, body {
    overflow-x: hidden;
}

body {
    position: relative;
    padding: 0;
    margin: 0 auto;
    height: 100vh; /* fixes non-sticky navbar for some reason??? */
    width: 100vw;
}

.title {
    font-size: 20px;
    margin: 0 auto;
}

.navbar {
    border-radius: 0px;
}

.invisible { /* Used to center title in middle of navbar while still having dropdown button on right*/
    display: block;
    visibility: hidden;
}

.dropbutton {
    display:block;
    margin-left: auto;    
    text-decoration: none; /* Prevent underline when clicked or focused */
    outline: none;         /* Remove focus outline */
}

.nav-links {
    position: absolute;
    text-align: center;
    top: 30px;
    left: 0px;
    background: linear-gradient(#fefae080, #fefae080), url('../images/navbar.webp') center/cover no-repeat;
    display: none;
    width: 100%;
    z-index: 1;
    padding: 0;
}

.nav-links li {
    width: 100%;
    text-align: center;
    padding: 0;
    border: 1px solid #726d4c80;
}

.nav-links a {
    text-decoration: none;
    color: black;
    display: block;
    width: 100%;
    text-align: center;
    padding: 0;
}

.dropdown:focus-within .nav-links {
    display: block;
}


.dropbutton:active {
    text-decoration: none;
}

.headings {
    position: relative;
    margin-top: 20px;
}

.issue:hover .headings{
    top: 0%
}

.text {
    font-size: 90%;
    opacity: 1;
    border-radius: 8px;
}

#discord {
    margin-bottom: 0;
}

/* Hide desktop navigation on mobile */
.desktop-nav {
    display: none;
}

/* Show mobile navigation on mobile */
.dropdown {
    display: block;
}