body {
    overflow-x: scroll;
    position: relative;
    padding: 0;
    margin: 0 auto;
}

.title {
    font-size: 1.25rem; /* 20px */
    margin: 0 auto;
}

.navbar {
    border-radius: 0;
}

.invisible { /* Used to center title in middle of navbar while still having dropdown button on right*/
    display: block;
    visibility: hidden;
}

.dropbutton {
    display:block;
    margin-left: auto;    
    text-decoration: none; /* Prevent underline when clicked or focused */
    outline: none;         /* Remove focus outline */
}

.nav-links {
    position: absolute;
    text-align: center;
    top: 1.875rem; /* 30px */
    left: 0;
    background: #fefae090;
    display: none;
    width: 100%;
    z-index: 1;
    padding: 0;
}

.nav-links li {
    width: 100%;
    text-align: center;
    padding: 0;
    border: 0.0625rem solid #726d4c80; /* 1px */
}

.nav-links a {
    text-decoration: none;
    color: black;
    display: block;
    width: 100%;
    text-align: center;
    border-radius: 0;
    padding: 0;
}

.issue:focus .text{
    opacity: 1;
}

.issue:focus .headings {
    top: -40%;
}

.issue:focus {
    border: 0.1875rem inset black; /* 3px */
}

.dropbutton:link {
    color: black;
}

.dropdown:focus-within .nav-links{
    display: block;
}

.dropbutton:active {
    color: black;
}

.dropbutton:visited {
    color: black;
}

.text {
    font-size: 90%;
    border-radius: 0.5rem; /* 8px */
}

.footer {
    border-radius: 0;
}

#discord {
    margin-bottom: 0;
}

/* Hide desktop navigation on mobile */
.desktop-nav {
    display: none;
}

/* Show mobile navigation on mobile */
.dropdown {
    display: block;
}