/*
Color Palette: https://coolors.co/palette/606c38-283618-fefae0-dda15e-bc6c25
Fonts: IBM Plex Serif from Google Fonts
*/

/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: 'IBM Plex Serif';
    font-style: normal;
    font-optical-sizing: auto;
    background: linear-gradient(45deg, #283618 50%, #606c38 50%);
    height: 100vh;
}

/* Navbar Styles */
.navbar {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(#fefae080, #fefae080), url('navbar.webp') center/cover no-repeat;
    color: black;
    border-radius: 8px;
    max-width: 90%;
    margin: 0 auto;
}

.title {
    font-size: 26px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #dda15e;
}

/* Content Styles */
.headings {
    text-decoration: underline;
}

.issuesContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 0;
    box-sizing: border-box;
    max-width: 90%;
    margin: 0 auto;
}

.issue {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 85% 15%;
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
}

.text {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;
    text-align: left;
    background: #bc6c25;
    color: black;
    border-radius: 8px;
    padding: 50px 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, border 0.3s ease;
}

.text:hover {
    background-color: #dda15e;
    border: 2mm inset black;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

#SFSU {
    background-color: #fefae0;
    font-weight: bold;
    color: black;
    border-radius: 8px;
    padding: 10px 20px;
    max-width: 90%;
    margin: 0 auto;
}

/* Media Queries */
@media (max-width: 600px) {
    html,
    body {
        overflow-x: hidden;
    }

    body {
        position: relative;
    }
}