@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2B65EC;
    color: white;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background 0.3s;
}

.nav-links a:hover {
    background-color: #4C7DF0;
}

@media (max-width: 600px) {
    html, body {
        overflow-x: hidden;
    }
    body {
        position: relative
    }
}

body {
    font-family: 'IBM Plex Serif';
    font-style: normal;
    font-optical-sizing: auto;
    background-color: #FCFBF4;
}

.issuesContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.issue {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#SFSU {
    background-color: #231161;
    font-weight: bold;
    color: #C99700;
}